<!-- Begin VideoJS -->
<div class="video-js-box vim-css">
    <!-- Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody -->
    <video class="video-js" width="<%=width%>" height="<%=height%>" controls preload poster="<%= video.get_thumbnail('poster').public_url %>">
        <source src="<%= video.get_thumbnail('mp4').public_url %>" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        <source src="<%= video.get_thumbnail('webm').public_url %>" type='video/webm; codecs="vp8, vorbis"'>
        <source src="<%= video.get_thumbnail('ogv').public_url %>" type='video/ogg; codecs="theora, vorbis"'>
        <!-- Flash Fallback. Use any flash video player here. Make sure to keep the vjs-flash-fallback class. -->
        <object class="vjs-flash-fallback" width="<%=width%>" height="<%=height%>" type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
            <param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" /><param name="allowfullscreen" value="true" /><param name="flashvars" value='config={"playlist":["<%= video.get_thumbnail('poster').public_url %>", {"url": "<%= video.get_thumbnail('mp4').public_url %>","autoPlay":false,"autoBuffering":true}]}' /><!-- Image Fallback. Typically the same as the poster image. --><img src="<%= video.get_thumbnail('poster').public_url %>" width="<%=width%>" height="<%=height%>" alt="Poster Image" title="No video playback capabilities." />
        </object>
    </video><!-- Download links provided for devices that can't play video in the browser. -->
    <p class="vjs-no-video">
        <strong>Download Video:</strong>
        <a href="<%= video.get_thumbnail('mp4').public_url %>">MP4</a>,
		<a href="<%= video.get_thumbnail('webm').public_url %>">WebM</a>,
		<a href="<%= video.get_thumbnail('ogv').public_url %>">Ogg</a>
        <br>
        <!-- Support VideoJS by keeping this link. --><a href="http://videojs.com">HTML5 Video Player</a>
        by VideoJS
    </p>
</div>
<!-- End VideoJS -->
