<h1>Listing encodables</h1>

<table>
  <tr>
    <th>Filename</th>
    <th></th>
    <th></th>

  </tr>

<% @encodables.each do |encodable| %>
  <tr>
    <td>
    	<%= phocoder_thumbnail encodable,"small",false %><br/>
		<%= encodable.filename %>
	</td>
    <td><%= link_to 'Show', encodable %></td>
    
    <td><%= link_to 'Destroy', encodable, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image upload', new_encodable_path %>
