<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.6.4' %>
  <%= phocoder_includes %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    new Phocodable.JQueryUpdater().init();
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
